In [1]:
from Fundamentals import Tickertape
import pandas as pd

In [2]:
ttp = Tickertape()

In [3]:
# Searching in tickertape
res, raw_data = ttp.get_ticker('Adani wilmar')
print(res)
raw_data[0]

AWL

{'marketCap': 33178.673916925,
 'ticker': 'AWL',
 'brands': [],
 'searchTags_keyword': ['awl agri business ltd', 'awl', 'adani wilmar ltd'],
 'marketCapRank': 250,
 'searchTags': ['awl agri business ltd', 'awl', 'adani wilmar ltd'],
 'exchanges': 'NSE',
 'weight': 1,
 'ticker_keyword': 'AWL',
 'suspended': False,
 'sid': 'AWL',
 'name_suggest': 'AWL Agri Business Ltd',
 'brands_keyword': [],
 'name_keyword': 'AWL Agri Business Ltd',
 'ticker_suggest': 'AWL',
 'name': 'AWL Agri Business Ltd',
 'id': 'AWL',
 'sector': 'Consumer Staples',
 'ticker_key': 'AWL',
 'slug': '/stocks/adani-wilmar-AWL',
 'quote': {'sid': 'AWL',
  'price': 255.35,
  'close': 256.15,
  'change': -0.8,
  'high': 257.75,
  'low': 255,
  'volume': 481734,
  'date': '2025-07-07T06:23:32.000Z'},
 'score': 518.0264,
 'index': 'stock',
 'type': 'stock',
 'match': 'EXACT'}

In [4]:
# Allowed search_places = ['stock', 'index', 'etf', 'mutualfund', 'space', 'profile', 'smallcase', 'all']
_, raw_data = ttp.get_ticker('Nifty 500', search_place='index')
raw_data[1] # here ticker is the unique id of NSE and sid is the id of Tickertape

{'marketCap': '27735710.62',
 'ticker': 'NIFTY 100',
 'weight': 1,
 'ticker_keyword': 'NIFTY 100',
 'type': 'index',
 'suspended': False,
 'sid': '.NIFTY100',
 'name_suggest': 'Nifty 100 Index',
 'name_keyword': 'Nifty 100 Index',
 'ticker_suggest': 'NIFTY 100',
 'name': 'Nifty 100 Index',
 'id': '.NIFTY100',
 'sector': 'Index',
 'ticker_key': 'NIFTY 100',
 'slug': '/indices/nifty-100-index-.NIFTY100',
 'quote': {'sid': '.NIFTY100',
  'price': 26051.7,
  'close': 26066.65,
  'change': -14.95,
  'high': 26106.7,
  'low': 26018.4,
  'volume': 0,
  'date': '2025-07-07T06:23:50.337Z'},
 'score': 1178.5251,
 'index': 'index',
 'match': 'EXACT'}

In [5]:
# Get all tickers (sid in Tickertape) of NIFTY 50
ttp.get_all_nifty_50_ticker()

['ADEL',
 'APSE',
 'APLH',
 'BJFS',
 'AXBK',
 'BRTI',
 'BAJA',
 'BJFN',
 'BAJE',
 'ASPN',
 'REDY',
 'EICH',
 'COAL',
 'CIPL',
 'HDBK',
 'GRAS',
 'HCLT',
 'HDFL',
 'HLL',
 'ICBK',
 'INFY',
 'HROM',
 'HALC',
 'ITC',
 'INBK',
 'JSTL',
 'MAHM',
 'KTKM',
 'LART',
 'MRTI',
 'NEST',
 'PGRD',
 'NTPC',
 'ONGC',
 'SBIL',
 'SRTR',
 'SBI',
 'RELI',
 'TISC',
 'SUN',
 'TCS',
 'TEML',
 'TACN',
 'TAMO',
 'TITN',
 'TREN',
 'ULTC',
 'WIPR',
 'ZOM',
 'JIO']

In [6]:
# Get all tickers of an Index
ttp.get_all_constituents_of_index('.NIFTY500')

,_id,sid,ticker,name,sector,lastPrice,pr1d,slug,freeFloat,type
0,5f6c78c9896509a8eb2f90c2,TMIN,3MINDIA,3M India Ltd,Industrials,28945.00,0.783426,/stocks/3m-india-TMIN,0.264957,stock
1,5f6c78c9896509a8eb2f90d4,ARTI,AARTIIND,Aarti Industries Ltd,Materials,476.55,-0.604860,/stocks/aarti-industries-ARTI,20.812067,stock
2,5f6c78c9896509a8eb2f90e0,ABB,ABB,ABB India Ltd,Industrials,5862.00,-0.161799,/stocks/abb-india-ABB,5.297709,stock
3,5f6c78c9896509a8eb2f90e2,ABOT,ABBOTINDIA,Abbott India Ltd,Health Care,34735.00,-1.933936,/stocks/abbott-india-ABOT,0.520301,stock
4,5f6c78c9896509a8eb2f90dc,AVAS,AAVAS,Aavas Financiers Ltd,Financials,1910.00,-1.602184,/stocks/aavas-financiers-AVAS,4.039968,stock
...,...,...,...,...,...,...,...,...,...,...
496,66d909a3975eb0b59d34cd84,RAYM,RAYMONDLSL,Raymond Lifestyle Ltd,Consumer Discretionary,1283.60,3.449387,/stocks/raymond-lifestyle-RAYM,2.493451,stock
497,67340123e3379ce89f400eef,SWIG,SWIGGY,Swiggy Ltd,Communication Services,383.50,-0.647668,/stocks/swiggy-SWIG,88.101082,stock
498,671c4621a1910176b1728ecd,WAARE,WAAREEENER,Waaree Energies Ltd,Industrials,2978.10,-0.494504,/stocks/waaree-energies-WAARE,6.341399,stock
499,67340123e3379ce89f400eeb,ACMES,ACMESOLAR,ACME Solar Holdings Ltd,Utilities,249.57,-0.052062,/stocks/acme-solar-holdings-ACMES,10.035392,stock
500,685f45a3552c5a7d166f4fdc,RAYMO,RAYMONDREL,Raymond Realty Ltd,Real Estate,926.20,4.999433,/stocks/raymond-realty-RAYMO,NaN,stock

# Annual Report/ Quarterly Results extracted data
# some params meanings
time_horizon -> result time period (annual / interim (quarterly) )
time_period -> count of records required (any integer (less than 20))
view_type -> **normal** - just show the numbers as is,  **growth** - what is the % of increase happened compared to last entry (either Annually or Quarterly)

In [7]:
ttp.get_income_data('ADAI') # time_horizon = interim (quarterly), time_periods = 10 (10 qtrs), view = Normal

,displayPeriod,endDate,reporting,qIncTrev,qIncRaw,qIncPfc,qIncEpc,qIncSga,qIncOpe,qIncEbi,qIncDep,qIncPbi,qIncIoi,qIncPbt,qIncToi,qIncNinc,qIncEps,qIncDps,qIncPyr
0,DEC 2022,2022-12-31T00:00:00.000Z,consolidated,3781.94,None,None,None,None,2074.16,1707.78,410.37,1297.41,697.09,600.32,125.60,474.72,4.26,None,None
1,MAR 2023,2023-03-31T00:00:00.000Z,consolidated,3860.12,None,None,None,None,2154.46,1705.66,415.55,1290.11,630.49,659.62,270.17,389.45,3.49,None,None
2,JUN 2023,2023-06-30T00:00:00.000Z,consolidated,3772.25,None,None,None,None,2394.61,1377.64,418.88,958.76,615.67,343.09,168.03,175.06,1.57,None,None
3,SEP 2023,2023-09-30T00:00:00.000Z,consolidated,3766.46,None,None,None,None,2323.73,1442.73,432.05,1010.68,640.81,369.87,93.99,275.88,2.47,None,None
4,DEC 2023,2023-12-31T00:00:00.000Z,consolidated,4824.42,None,None,None,None,3092.09,1732.33,457.64,1274.69,760.04,514.65,189.75,324.90,2.92,None,None
5,MAR 2024,2024-03-31T00:00:00.000Z,consolidated,4910.78,None,None,None,None,3141.33,1769.45,467.51,1301.94,749.99,551.95,190.51,361.44,3.24,None,None
6,JUN 2024,2024-06-30T00:00:00.000Z,consolidated,5489.97,None,None,None,None,5233.89,256.08,497.85,-241.77,810.93,-1052.70,-228.78,-823.92,-7.39,None,None
7,SEP 2024,2024-09-30T00:00:00.000Z,consolidated,6359.80,None,None,None,None,4468.56,1891.24,484.07,1407.17,812.94,594.23,-80.73,674.96,6.09,None,None
8,DEC 2024,2024-12-31T00:00:00.000Z,consolidated,6000.39,None,None,None,None,4169.52,1830.87,462.38,1368.49,809.12,559.37,-2.41,561.78,4.85,None,None
9,MAR 2025,2025-03-31T00:00:00.000Z,consolidated,6596.39,None,None,None,None,4334.62,2261.77,461.65,1800.12,826.17,973.95,326.80,647.15,5.50,None,None

In [8]:
ttp.get_income_data('ACC', time_horizon='annual', view_type='growth', num_time_periods=12)

,incTrev,incCrev,incGpro,incOpc,incRaw,incPfc,incEpc,incSga,incOpe,incEbi,...,incIoi,incPbt,incToi,incNinc,incEps,incDps,incPyr,displayPeriod,reporting,endDate
0,22568.220000,NaN,NaN,NaN,5646.910000,5742.720000,1036.200000,6208.850000,1812.340000,2.121200e+03,...,77.280000,1.202600e+03,3.175300e+02,8.850700e+02,4.698471e+01,9.250000,1.968726e-01,FY 2023,consolidated,NaN
1,-8.303579,NaN,NaN,NaN,7.106187,-30.294355,-28.855433,-17.231855,-46.482448,7.900198e+01,...,100.025880,1.292832e+02,3.303940e+01,1.638119e+02,1.638119e+02,-18.918919,-6.926557e+01,FY '23 - FY '24,NaN,NaN
2,10.838808,NaN,NaN,NaN,33.909484,-12.430427,-2.638361,1.914788,17.673623,1.157022e+01,...,-29.990943,1.339760e+01,7.154152e+01,2.878043e+00,2.878043e+00,0.000000,-2.797529e+00,FY '24 - FY '25,NaN,NaN
3,0.154072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.188974,-8.587612e-14,...,0.000000,-1.163490e-13,-1.568830e-14,-1.514487e-13,-1.448738e-13,0.000000,1.415741e-13,TTM,,

In [9]:
ttp.get_balance_sheet_data('ARTI', num_time_periods=16, growth=True)

,balCsti,balTrec,balTinv,balOca,balTca,balNetl,balNppe,balGint,balLti,balOtha,...,balTeq,balTlse,balTcso,balTpso,balNca,balCa,balNcl,balDta,displayPeriod,reporting
0,33.710000,438.980000,551.730000,173.240000,1197.660000,None,1159.900000,0.000000,139.200000,441.060000,...,1022.270000,2937.820000,42.394489,None,1740.160000,1197.660000,827.750000,NaN,FY 2015,consolidated
1,-14.001780,19.230944,-10.247766,7.602170,3.033415,None,34.369342,NaN,-70.359195,-70.013150,...,16.347932,0.975553,-5.950111,None,-0.440764,3.033415,-20.990637,NaN,FY '15 - FY '16,NaN
2,-1.690238,0.242644,15.392072,3.326002,6.742356,None,26.041513,404.761905,13.814833,27.294723,...,19.920295,17.952927,-1.440224,None,25.937812,6.742356,15.035168,NaN,FY '16 - FY '17,NaN
3,12.631579,24.792727,30.781750,30.206116,27.919283,None,23.822808,-18.867925,0.553663,33.749109,...,16.064418,25.504351,-0.999000,None,24.046456,27.919283,52.815919,NaN,FY '17 - FY '18,NaN
4,2405.295950,18.524628,3.277131,-10.251605,52.949660,None,20.864989,-23.255814,-29.775519,36.082245,...,63.986831,33.393905,6.603502,None,21.219500,52.949660,5.338007,NaN,FY '18 - FY '19,NaN
5,-69.250187,-2.912221,8.278159,-25.155500,-22.204718,None,32.153596,-30.303030,11.610374,32.000783,...,13.212044,8.101141,-3.727968,None,31.906560,-22.204718,10.874035,NaN,FY '19 - FY '20,NaN
6,66.735412,5.347473,11.966303,34.079307,18.092445,None,25.871961,-89.130435,71.629289,-20.870726,...,14.373379,20.673983,0.000000,None,21.869938,18.092445,28.572918,NaN,FY '20 - FY '21,NaN
7,-57.906480,37.517796,-0.166724,121.202462,13.990117,None,1.027525,-100.000000,-55.462846,-51.513731,...,28.492749,2.735132,4.029005,None,-2.317371,13.990117,-32.325070,NaN,FY '21 - FY '22,NaN
8,15.654529,-13.836668,10.376611,-42.557493,-8.876439,None,20.574865,NaN,-39.307176,-39.100458,...,8.946797,9.301221,-12.727019,None,18.823687,-8.876439,-24.955064,90.266763,FY '22 - FY '23,NaN
9,-35.370896,-12.136227,12.472722,23.055749,0.391580,None,15.355781,NaN,33.488643,7.607661,...,7.512600,12.057127,0.000000,None,16.743580,0.391580,99.436575,171.978022,FY '23 - FY '24,NaN

In [10]:
ttp.get_balance_sheet_data('ALKY', num_time_periods=10) # View_type = Normal

,displayPeriod,endDate,reporting,balCsti,balTrec,balTinv,balOca,balTca,balNetl,balNppe,...,balRtne,balOeq,balTeq,balTlse,balTcso,balTpso,balNca,balCa,balNcl,balDta
0,FY 2016,2016-03-31T00:00:00.000Z,standalone,4.27,90.30,63.16,26.08,183.81,None,202.9415,...,176.35,0.00,199.47,406.39,5.101048,None,222.58,183.81,75.97,None
1,FY 2017,2017-03-31T00:00:00.000Z,standalone,2.96,97.34,111.41,13.31,225.02,None,254.4792,...,222.45,0.00,245.57,512.21,5.099098,None,287.19,225.02,106.07,None
2,FY 2018,2018-03-31T00:00:00.000Z,standalone,3.23,123.78,85.18,26.19,238.38,None,373.2459,...,274.04,0.00,297.16,637.05,5.099098,None,398.67,238.38,160.35,None
3,FY 2019,2019-03-31T00:00:00.000Z,standalone,20.17,152.63,105.69,33.53,312.02,None,419.2659,...,341.88,0.00,365.00,748.51,5.099098,None,436.49,312.02,135.75,None
4,FY 2020,2020-03-31T00:00:00.000Z,standalone,32.26,164.22,83.67,14.00,294.15,None,468.0687,...,513.48,0.00,536.60,783.39,5.099098,None,489.24,294.15,92.98,None
5,FY 2021,2021-03-31T00:00:00.000Z,standalone,156.28,227.99,122.04,21.76,528.07,None,595.6700,...,767.86,0.12,792.45,1145.49,5.103178,None,617.42,528.07,71.10,None
6,FY 2022,2022-03-31T00:00:00.000Z,standalone,62.57,276.74,164.61,33.73,537.65,None,771.5900,...,963.33,0.00,989.80,1371.40,5.107245,None,833.75,537.65,53.60,None
7,FY 2023,2023-03-31T00:00:00.000Z,standalone,18.23,258.42,183.85,40.32,500.82,None,1071.1900,...,1140.06,0.00,1168.93,1592.09,5.110063,None,1091.27,500.82,68.80,None
8,FY 2024,2024-03-31T00:00:00.000Z,standalone,31.38,221.73,172.38,18.28,443.77,None,1124.8000,...,1236.62,0.00,1267.14,1584.04,5.112139,None,1140.27,443.77,89.05,None
9,FY 2025,2025-03-31T00:00:00.000Z,standalone,204.06,230.65,165.36,30.63,630.70,None,1096.4100,...,1370.90,0.00,1402.49,1789.44,5.113642,None,1158.74,630.70,141.23,None

In [11]:
ttp.get_cash_flow_data('TCS', num_time_periods=10, growth=False) # these 2 are default values ideally no need to pass {num_time_periods=10, growth=False}

,displayPeriod,endDate,reporting,cafCiwc,cafCfoa,cafCexp,cafCfia,cafTcdp,cafCffa,cafFee,cafNcic,cafFcf
0,FY 2016,2016-03-31T00:00:00.000Z,consolidated,-12522,19109,1987,-5010,9515,-9666,None,4433,17122
1,FY 2017,2017-03-31T00:00:00.000Z,consolidated,-8577,25223,1989,-16895,10973,-11026,None,-2698,23234
2,FY 2018,2018-03-31T00:00:00.000Z,consolidated,-7818,25067,1862,3104,10760,-26885,None,1286,23205
3,FY 2019,2019-03-31T00:00:00.000Z,consolidated,-12127,28593,2231,1645,11472,-27897,None,2341,26362
4,FY 2020,2020-03-31T00:00:00.000Z,consolidated,-10513,32369,3249,8968,37702,-39915,None,1422,29120
5,FY 2021,2021-03-31T00:00:00.000Z,consolidated,-8229,38802,3176,-7956,10907,-32634,None,-1788,35626
6,FY 2022,2022-03-31T00:00:00.000Z,consolidated,-14255,39949,2995,-738,13375,-33581,None,5630,36954
7,FY 2023,2023-03-31T00:00:00.000Z,consolidated,-17183,41965,3100,548,41410,-47878,None,-5365,38865
8,FY 2024,2024-03-31T00:00:00.000Z,consolidated,-19371,44338,2674,6091,25218,-48536,None,1893,41664
9,FY 2025,2025-03-31T00:00:00.000Z,consolidated,-18945,48908,3937,-2144,44962,-47438,None,-674,44971

# Peers Comparison
comparison type is either `valuation` (default) or  `Technical`

In [12]:
ttp.peers_comparison('TCS') # this comparison is based on valuation

,name,ticker,sid,sector,slug,description,ratios_ttmPe,ratios_pbr,ratios_divDps,ratios_apef
0,Tata Consultancy Services Ltd,TCS,TCS,IT Services & Consulting,/stocks/tata-consultancy-services-TCS,Tata Consultancy Services Limited (TCS) is eng...,25.483772,12.919501,3.684426,25.483772
1,Infosys Ltd,INFY,INFY,IT Services & Consulting,/stocks/infosys-INFY,NaN,25.456042,7.068462,2.620194,25.456042
2,HCL Technologies Ltd,HCLTECH,HCLT,IT Services & Consulting,/stocks/hcl-technologies-HCLT,NaN,26.881954,6.848163,3.482548,26.871139
3,Wipro Ltd,WIPRO,WIPR,IT Services & Consulting,/stocks/wipro-WIPR,NaN,21.526462,3.404897,2.222136,21.526462
4,Tech Mahindra Ltd,TECHM,TEML,IT Services & Consulting,/stocks/tech-mahindra-TEML,NaN,38.124096,5.832122,1.637586,38.124096

In [13]:
ttp.peers_comparison('TAMO', comparison_type='technical')

,name,ticker,sid,sector,slug,description,ratios_12mVol,ratios_14dRsi
0,Tata Motors Ltd,TATAMOTORS,TAMO,Four Wheelers,/stocks/tata-motors-TAMO,Tata Motors Limited is an automobile company e...,31.914546,52.135231
1,Maruti Suzuki India Ltd,MARUTI,MRTI,Four Wheelers,/stocks/maruti-suzuki-india-MRTI,NaN,23.073493,53.994490
2,Mahindra and Mahindra Ltd,M&M,MAHM,Four Wheelers,/stocks/mahindra-and-mahindra-MAHM,NaN,30.694701,67.560051
3,Hyundai Motor India Ltd,HYUNDAI,HYU,Four Wheelers,/stocks/hyundai-motor-india-HYU,NaN,30.121382,61.010065
4,Force Motors Ltd,FORCEMOT,FORC,Four Wheelers,/stocks/force-motors-FORC,NaN,52.818234,53.339176

# TickerTape SCORE CARD

In [14]:
ttp.get_score_card('INFY')

,name,tag,type,description,colour,rank,peers,locked,callout,comment,stack,elements,score_percentage,score_max,score_value,score_key,score
0,Performance,Low,score,Hasn't fared well - amongst the low performers,red,None,None,True,None,None,1,[],False,10.0,NaN,Performance,NaN
1,Valuation,High,score,Seems to be overvalued vs the market average,red,None,None,True,None,None,2,[],False,10.0,NaN,Valuation,NaN
2,Growth,Low,score,Lagging behind the market in financials growth,red,None,None,True,None,None,3,[],False,10.0,NaN,Growth,NaN
3,Profitability,High,score,Showing good signs of profitability & efficiency,green,None,None,True,None,None,4,[],False,10.0,NaN,Profitability,NaN
4,Entry point,Avg,entryPoint,The stock is overpriced but is not in the over...,yellow,None,None,False,None,None,5,"[{'title': 'Fundamentals', 'type': 'flag', 'de...",NaN,NaN,NaN,NaN,NaN
5,Red flags,Low,redFlag,No red flag found,green,None,None,False,None,None,6,"[{'title': 'ASM', 'type': 'flag', 'description...",NaN,NaN,NaN,NaN,NaN

# Share Holding Pattern Q-O-Q

In [15]:
_, raw_data = ttp.get_ticker('Tata consult') # TCS
slug_url = raw_data[0].get('slug')
print(slug_url)
ttp.get_share_holding_pattern(slug_url)

/stocks/tata-consultancy-services-TCS

,date,data_pmPctT,data_pmPctP,data_plPctT,data_uPlPctT,data_mfPctT,data_isPctT,data_diPctT,data_othDiPctT,data_othExInsDiPctT,data_fiPctT,data_rhPctT,data_othPctT,data_rOthPctT
0,2023-12-31T00:00:00.000Z,72.412804,0.482187,0.349165,72.063639,3.508293,5.917744,10.088976,6.580683,0.662940,12.469608,4.188144,0.840468,5.028612
1,2024-03-31T00:00:00.000Z,71.766054,0.275750,0.197895,71.568159,4.051627,5.977892,10.668815,6.617188,0.639296,12.699170,4.047523,0.818438,4.865961
2,2024-06-30T00:00:00.000Z,71.766054,0.275750,0.197895,71.568159,4.249089,6.127442,11.057136,6.808047,0.680605,12.356210,4.029737,0.790864,4.820600
3,2024-09-30T00:00:00.000Z,71.766054,0.275750,0.197895,71.568159,4.248089,5.960481,10.911053,6.662963,0.702482,12.657080,3.888777,0.777037,4.665814
4,2024-12-31T00:00:00.000Z,71.766054,0.000000,0.000000,71.766054,4.320917,5.829444,10.913906,6.592989,0.763545,12.683564,3.863044,0.773432,4.636476
5,2025-03-31T00:00:00.000Z,71.766054,0.000000,0.000000,71.766054,5.001499,5.750555,11.557943,6.556445,0.805890,12.037838,3.864876,0.773289,4.638165

# Mutual Funds Holdings of an Equity

In [16]:
_, raw_data = ttp.get_ticker('tata consumer')
slug_url = raw_data[0].get('slug')
print(slug_url)
ttp.get_mutual_fund_holdings(slug_url)

/stocks/tata-consumer-products-TACN

,marketCapPct,change3m,currentRank,prevRank,securities,weight,meta_mfId,meta_isin,meta_slug,meta_name,meta_fullName,meta_option
0,0.518724,0.046314,22,22,49,1.483037,M_HDCTP,INF179K01YV8,/mutualfunds/hdfc-large-cap-fund-M_HDCTP,HDFC Large Cap Fund,HDFC Large Cap Fund - Growth - Direct Plan,Growth
1,0.482421,-0.139834,12,11,119,2.073103,M_CAOP,INF760K01EI4,/mutualfunds/canara-rob-large-and-mid-cap-fund...,Canara Rob Large and Mid Cap Fund,Canara Robeco Large and Mid Cap Fund - Growth ...,Growth
2,0.412170,0.347363,122,130,230,0.659778,M_KOQU,INF174K01LC6,/mutualfunds/kotak-arbitrage-fund-M_KOQU,Kotak Arbitrage Fund,Kotak Arbitrage Fund - Growth - Direct Plan,Growth
3,0.375371,-0.060692,44,75,251,0.642408,M_NIMS,INF204K01K15,/mutualfunds/nippon-india-small-cap-fund-M_NIMS,Nippon India Small Cap Fund,Nippon India Small Cap Fund - Growth - Direct ...,Growth
4,0.369744,-0.060210,36,31,77,0.954950,M_NIGE,INF204K01XI3,/mutualfunds/nippon-india-large-cap-fund-M_NIGE,Nippon India Large Cap Fund,Nippon India Large Cap Fund - Growth - Direct ...,Growth

# SmallCase Holdings of an Equity

In [17]:
_, raw_data = ttp.get_ticker('Infosys')
slug_url = raw_data[0].get('slug')
print(slug_url)
ttp.get_smallcase_holdings(slug_url)

/stocks/infosys-INFY

,scid,name,description,publisherName,slug,iconUrl,cagr,weight,publisher,minInvestmentAmount
0,SCTR_0006,IT Tracker,Companies to efficiently track and invest in t...,Windmill Capital,/smallcase/it-tracker-SCTR_0006,https://assets.smallcase.com/images/smallcases...,25.065102,0.115619,smallcaseHQ,82781
1,SCMO_0014,Dividend Aristocrats Model,Companies that have been consistently increasi...,Windmill Capital,/smallcase/dividend-aristocrats-SCMO_0014,https://assets.smallcase.com/images/smallcases...,12.508054,0.083333,smallcaseHQ,71769

# Dividends History of an Equity this will provide history as well as confirmed upcoming

In [18]:
_, raw_data = ttp.get_ticker('ITC ltd')
slug_url = raw_data[0].get('slug')
print(slug_url)
ttp.get_dividends_history(slug_url)

/stocks/itc-ITC

,_id,description,dividend,exDate,sid,type,title,subType,value,ticker
0,682fc0a3e1eaebd3fa7e7256,Final|7.85,7.850000,2025-05-28T00:00:00.000Z,ITC,cashDividend,Cash Dividend,Final,7.85,ITC
1,67a6a49b1ba432b32509b205,Interim|6.5,6.500000,2025-02-12T00:00:00.000Z,ITC,cashDividend,Cash Dividend,Interim,6.5,ITC
2,665a6dfe05bb6ca068f1f359,Final|7.5,7.095100,2024-06-04T00:00:00.000Z,ITC,cashDividend,Cash Dividend,Final,7.5,ITC
3,65b997d88a2dd7eecd38ac4d,Interim|6.25,5.912583,2024-02-08T00:00:00.000Z,ITC,cashDividend,Cash Dividend,Interim,6.25,ITC
4,646c0b7999f7f66b45caa04a,Final|6.75,6.385590,2023-05-30T00:00:00.000Z,ITC,cashDividend,Cash Dividend,Final,6.75,ITC
5,646c0b7999f7f66b45caa04c,Special|2.75,2.601537,2023-05-30T00:00:00.000Z,ITC,cashDividend,Cash Dividend,Special,2.75,ITC

# Key Ratios of a stock or Index

In [19]:
_, raw_data = ttp.get_ticker('Adani Ports')
slug_url = raw_data[0].get('slug')
print(slug_url)
ttp.get_key_ratios(slug_url)

/stocks/adani-ports-and-special-economic-zone-APSE

                             0
risk                  2.423019
3mAvgVol        2981027.540984
4wpct                 -0.20919
52wHigh                1604.95
52wLow                  995.65
52wpct               -5.270508
beta                  1.444212
bps                 301.474681
divYield              0.491435
eps                  51.349984
inddy                 0.553397
indpb                  6.48069
indpe                38.900817
marketCap        307690.191326
mrktCapRank                 26
pb                    4.724775
pe                   27.739054
roe                  18.517619
nShareholders          1262911
lastPrice               1424.4
ttmPe                27.739054
marketCapLabel        Largecap
12mVol               33.545846
mrktCapf         307690.191326
apef                 27.739054
pbr                   4.724775
etfLiq                0.024905
etfLiqLabel               High

In [20]:
_, raw_data = ttp.get_ticker('NIFTY 50')
slug_url = raw_data[0].get('slug')
print(slug_url)
ttp.get_key_ratios(slug_url)

/indices/nifty-50-index-.NSEI

                                 0
marketCapLabel            Largecap
52wpct                    4.757732
4wpct                      3.43988
52wHigh                   26277.35
52wLow                    21743.65
divYield                  1.307708
pb                        3.500254
pe                       23.147277
5yYldAvg                  1.361877
sharpeRatio               1.054187
constituentsCount               50
etfsCount                       21
marketCap          20193102.000365
marketCapShare           43.419195
risk                             1
12mVol                   13.891436
lastPrice                    25461
3Ypct                    60.785837
5Ypct                   136.546153
13wpct                   11.161805
26wpct                    7.812272
pr1w                     -0.669947

# All ETFs under an Index

In [21]:
ttp.get_all_etfs_under_index('.NSEI')

,sid,stock_advancedRatios_etfLiq,stock_advancedRatios_etfLiqLabel,stock_advancedRatios_expenseRatio,stock_advancedRatios_trackErr,stock_info_sector,stock_info_name,stock_info_ticker,stock_info_exchange,stock_info_amc,stock_info_amcDesc,stock_info_description,stock_info_trIndex,stock_info_trIndexName,stock_info_trIndexSlug,stock_info_amcCode,stock_slug
0,NBES,0.047571,High,0.0400,0.019049,Equity,Nippon India ETF Nifty 50 BeES,NIFTYBEES,NSE,Nippon Life India Asset Management Limited,Nippon India Mutual Fund is one of India’s lea...,NIPPON INDIA ETF Nifty BeES objective is to pr...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,RMF,/etfs/nippon-india-nifty-50-bees-etf-NBES
1,SBFP,0.275650,High,0.0400,0.014287,Equity,SBI Nifty 50 ETF,SETFNIF50,NSE,SBI Funds Management Limited,With 30 years of rich experience in fund manag...,SBI-ETF Nifty 50 objective is to provide retur...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,L,/etfs/sbi-nifty-50-etf-SBFP
2,ICNI,0.414968,High,0.0259,0.014287,Equity,ICICI Prudential Nifty 50 ETF,NIFTYIETF,NSE,ICICI Prudential Asset Management Company Limited,ICICI Prudential Asset Management Company Ltd....,ICICI Prudential Nifty iWIN ETF objective is t...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,P,/etfs/icici-prudential-nifty-50-etf-ICNI
3,UTIN,0.419459,High,0.0500,0.015875,Equity,UTI Nifty 50 ETF,UTINIFTETF,NSE,UTI Asset Management Company Private Limited,"UTI AMC commenced operations from February 1, ...",UTI-Nifty ETF objective is to provide returns ...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,108,/etfs/uti-nifty-50-etf-UTIN
4,MIRA,1.424179,High,0.0400,0.014287,Equity,Mirae Asset Nifty 50 ETF,NIFTYETF,NSE,Mirae Asset Investment Managers (India) Privat...,Mirae Asset Financial Group is one of the key ...,Mirae Asset Nifty 50 ETF objective is to gener...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,MAF,/etfs/mirae-asset-nifty-50-etf-MIRA
5,HDFN,2.332681,High,0.0500,0.012700,Equity,HDFC Nifty 50 ETF,HDFCNIFTY,NSE,HDFC Asset Management Company Limited,"HDFC Asset Management Company, investment mana...",HDFC Nifty ETF-Growth objective is to provide ...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,H,/etfs/hdfc-nifty-50-etf-HDFN
6,ADIY,2.402481,High,0.0400,0.025399,Equity,Aditya BSL Nifty 50 ETF,BSLNIFTY,NSE,Aditya Birla Sun Life AMC Limited,"Aditya Birla Sun Life AMC Limited, is a joint ...",Aditya BSL Nifty ETF objective is to provide r...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,B,/etfs/aditya-bsl-nifty-50-etf-ADIY
7,KOTK,3.399428,High,0.0400,0.017462,Equity,Kotak Nifty 50 ETF,NIFTY1,NSE,Kotak Mahindra Asset Management Company Limited,Kotak Mahindra Asset Management Company Limite...,Kotak Nifty ETF objective is to provide return...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,K,/etfs/kotak-nifty-50-etf-KOTK
8,NIFT,11.761306,High,0.0700,0.022224,Equity,Bajaj Finserv Nifty 50 ETF,NIFTYBETF,NSE,Bajaj Finserv Asset Management Limited,NaN,Bajaj Finserv Nifty 50 ETF seeks to replicate ...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,189,/etfs/bajaj-finserv-nifty-50-etf-NIFT
9,DSPN,19.741488,High,0.0600,0.017462,Equity,DSP Nifty 50 ETF,NIFTY50ADD,NSE,DSP Investment Managers Private Limited,DSP Investment Managers is an independent Indi...,DSP Nifty 50 ETF objective is to provide retur...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,D,/etfs/dsp-nifty-50-etf-DSPN
10,AISN,23.786862,Medium,0.0400,0.025399,Equity,Axis Nifty 50 ETF,AXISNIFTY,NSE,Axis Asset Management Company Ltd.,Axis Asset Management Company Ltd. is the mutu...,Axis Nifty ETF objective is to provide returns...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,128,/etfs/axis-nifty-50-etf-AISN
11,AONEN,34.252864,Medium,0.0900,NaN,Equity,Angel One Nifty 50 ETF,AONENIFTY,NSE,Angel One Asset Management Company Ltd.,NaN,Angel One Nifty 50 ETF's objective is to provi...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,AO,/etfs/angel-one-nifty-50-etf-AONEN
12,QUAN,49.843477,Medium,0.0900,0.022224,Equity,Quantum Nifty 50 ETF,QNIFTY,NSE,Quantum Asset Management Company Private Limited,Quantum Asset Management Company Pvt Ltd. is t...,Quantum Nifty ETF objective is to invest in st...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,QMF,/etfs/quantum-nifty-50-etf-QUAN
13,LICO,52.935777,Medium,0.0600,0.028574,Equity,LIC MF Nifty 50 ETF,LICNETFN50,NSE,LIC Mutual Fund Asset Management Limited,LIC Mutual Fund was established on 20th April ...,LIC MF ETF-Nifty 50 objective is to provide re...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,LIC,/etfs/lic-mf-nifty-50-etf-LICO
14,M50,61.405276,Medium,0.0600,0.017462,Equity,Motilal Oswal M50 ETF,MOM50,NSE,Motilal Oswal Asset Management Company Limited,Motilal Oswal Asset Management Company Ltd. (M...,Motilal Oswal MOSt Shares M50 ETF objective is...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,127,/etfs/motilal-oswal-nifty-50-etf-M50
15,TATN,68.848342,Medium,0.0600,0.165095,Equity,Tata Nifty 50 ETF,NETF,NSE,Tata Asset Management Private Limited,"Established in 1994, Tata Asset Management Pri...",Tata Nifty ETF objective of the scheme is to p...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,T,/etfs/tata-nifty-50-etf-TATN
16,IFCN,114.376069,Low,0.0900,0.033336,Equity,IDFC Nifty 50 ETF,IDFNIFTYET,NSE,Bandhan AMC Limited,IDFC AMC Limited is a subsidiary of the IDFC F...,"The fund seeks to provide returns that, before...",.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,G,/etfs/idfc-nifty-50-etf-IFCN
17,INVO,574.624379,Low,0.1000,0.023812,Equity,Invesco India Nifty 50 ETF,IVZINNIFTY,NSE,Invesco Asset Management Company Pvt Ltd.,Invesco is an independent investment managemen...,Invesco India Nifty ETF objective is to provid...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,120,/etfs/invesco-india-nifty-50-etf-INVO
18,IDTI,NaN,Low,0.5200,1.054067,Equity,Indiabulls NIFTY50 Exchange Traded Fund,IBMFNIFTY,NSE,Groww Asset Management Limited,"Indiabulls Housing Finance Limited (""IHFL"") is...",Indiabulls Nifty50 ETF objective is to provide...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,125,/etfs/indiabulls-nifty-50-etf-IDTI
19,EETS,NaN,Low,0.0700,2.241481,Equity,Edelweiss Nifty 50 ETF,NIFTYEES,NSE,Edelweiss Asset Management Limited,Edelweiss Asset Management Limited (EAML) is p...,Edelweiss ETF-Nifty 50 objective is to provide...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,EMF,/etfs/edelweiss-nifty-50-etf-EETS
20,NAVI,NaN,Low,0.0500,0.182557,Equity,Navi NIFTY 50 ETF,NAVINIFTY,NSE,Navi AMC Limited,NaN,Navi NIFTY 50 ETF seeks to replicate the retur...,.NSEI,Nifty 50 Index,/indices/nifty-50-index-.NSEI,PLF,/etfs/navi-nifty-50-etf-NAVI

# Tickertape Filters or Screeners
- You can pass any number of filters listed below, you can also pass entire filters list.
- `Sortby` pass the filter name by default it considers the first entry in the filters list
- In the `number of records`  pass n records else it will give entire stocks list available in exchange (~4k stocks)

In [22]:
all_filters = ttp.get_equity_screener_all_filters()
all_filters

{'Market Cap': 'mrktCapf',
 'Sector': 'sector',
 'Sub-Sector': 'subindustry',
 'Close Price / 200D SMA': 'lastPrice,sma200d,/',
 'Close Price / 50D SMA': 'lastPrice,sma50d,/',
 '5Y Avg EBITDA Margin': 'opmg',
 'Return on Equity': 'roe',
 'EBITDA Margin': 'aopm',
 '5Y Avg Net Profit Margin': '5YpftMrg',
 'Return on Investment': 'aroi',
 '5Y Avg Return on Equity': '5Yroe',
 'Return on Assets': 'rtnAsts',
 '5Y Avg Return on Assets': '5YrtnAsts',
 'Net Profit Margin': 'pftMrg',
 '5Y Avg Return on Investment': '5Yaroi',
 '5Y Avg Cash Flow Margin': '5YcafCfoaMgn',
 'Cost of Goods Sold': 'balCogs',
 'Cash Flow Margin': 'cafCfoaMgn',
 'ROCE': 'roce',
 '1Y Hist Op. Cash Flow Growth': 'cfog',
 '1Y Historical EPS Growth': 'epsg',
 '1Y Historical Revenue Growth': 'rvng',
 '5Y Historical EBITDA Growth': 'earnings',
 '5Y Hist Op. Cash Flow Growth': 'cfotr',
 '3Y Historical Dividend Growth': '3YdivGwth',
 '5Y Historical EPS Growth': 'epsGwth',
 '5Y Historical Revenue Growth': '5YrevChg',
 '1Y Historical EBITDA Growth': 'ebitg',
 'PB Ratio': 'pbr',
 'PS Ratio': 'ps',
 'EV/EBITDA Ratio': 'evebitd',
 'PE Ratio': 'apef',
 'Dividend Yield': 'divDps',
 'EV / EBIT Ratio': 'evebit',
 'EV / Revenue Ratio': 'evByRev',
 'Price / Free Cash Flow': 'lcpCafFcf',
 'EV / Invested Capital': 'evByIc',
 'EV / Free Cash Flow': 'evCafFcf',
 'Enterprise Value': 'ev',
 'Price / CFO': 'priceCfoR',
 'Price / Sales': 'priceBySales',
 'Sector Dividend Yield': 'inddy',
 'Sector PB': 'indpb',
 'Sector PE': 'indpe',
 'TTM PE Ratio': 'ttmPe',
 'Mutual Fund Holding': 'instown',
 'Domestic Institutional Holding': 'domInstHldng',
 '\xa0MF Holding Change\xa0–\xa06M': 'chMutHldng6M',
 'Promoter Holding Change\xa0–\xa03M': 'strown3',
 'Foreign Institutional Holding': 'forInstHldng',
 'DII Holding Change\xa0–\xa06M': 'domInstHldng6M',
 'FII Holding Change\xa0–\xa06M': 'forInstHldng6M',
 'DII Holding Change\xa0–\xa03M': 'domInstHldng3M',
 'Promoter Holding Change\xa0–\xa06M\xa0': 'chPromHldng6M',
 'MF Holding Change\xa0–\xa03M': 'instown3',
 'Promoter Holding': 'strown',
 'Pledged Promoter Holdings': 'promShrPled',
 'FII Holding Change\xa0–\xa03M': 'forInstHldng3M',
 'Retail Investor Holding': 'retailHolding',
 'Insurance Firms Holding': 'insHolding',
 'No. of Shareholders': 'nShareholders',
 'Lot Size': 'ftls',
 'Future Close Price': 'ftcp',
 'Basis': 'ftbas',
 'Future Open Interest': 'ftoi',
 'Future Volume': 'ftvol',
 'Call Open Interest': 'opcoi',
 'Put Open Interest': 'oppoi',
 '1M Average Volume': 'vol1mAvg',
 '1M Return': '4wpct',
 'Daily Volume': 'acVol',
 '1Y Return vs Nifty': '12mpctN',
 'Close Price': 'lastPrice',
 '1M Return vs Nifty': '4wpctN',
 '1W Change in Volume': 'vol1wChPct',
 '3M Average Volume': 'vol3mAvg',
 '1W Return': 'pr1w',
 '6M Return vs Nifty': '6mpctN',
 '% Away From 52W High': '52whd',
 '1D Return': 'pr1d',
 '6M Return': '26wpct',
 '1Y Return': '52wpct',
 '1W Return vs Nifty': 'pr1wN',
 '1D Change in Volume': 'vol1dChPct',
 '% Away From 52W Low': '52wld',
 'Face value': 'faceValue',
 '5Y CAGR': '5yCagrPct',
 'Current Ratio': 'qcur',
 'Cash Conversion Cycle': 'ccnc',
 'Long Term Debt to Equity': 'ldbtEqt',
 'Interest Coverage Ratio': 'aint',
 'Debt to Equity': 'dbtEqt',
 'Quick Ratio': 'aqui',
 'Net Income / Liabilities': 'netIncByLbl',
 'Working Capital Turnover Ratio': 'wcTurnR',
 'Inventory Turnover Ratio': 'invTurnR',
 'Asset Turnover Ratio': 'asstTurnR',
 'Earning Power': 'erngPwrR',
 '% Price above 1M EMA': 'prAvMonthEVA',
 'Beta': 'beta',
 'Relative Volume': 'relVol',
 'Volatility': '12mVol',
 'VWAP': 'vWAP',
 '% Price above 1Y SMA': 'pab12Mma',
 'Alpha': '3Ywal',
 'Volatility vs Nifty': '12mVolN',
 '% Price above 1M SMA': 'pab1Mma',
 'Sharpe Ratio': '3Ywsh',
 '200D SMA': 'sma200d',
 '50D EMA': 'ema50d',
 '100D EMA': 'ema100d',
 '100D SMA': 'sma100d',
 '10D EMA': 'ema10d',
 '200D EMA': 'ema200d',
 '10D SMA': 'sma10d',
 '50D SMA': 'sma50d',
 '1Y Max Loss': 'maxDrawdown',
 'Additional Paid–in Capital': 'balApic',
 'Net Change in Cash': 'cafNcic',
 'Total Liabilities': 'balTotl',
 'Investing Cash Flow': 'cafCfia',
 'Loans & Advances': 'balNetl',
 'Financing Cash Flow': 'cafCffa',
 'Long Term Investments': 'balLti',
 'Total Cash Dividend Paid': 'cafTcdp',
 'Reserves & Surplus': 'balRtne',
 'Capital Expenditure': 'cafCexp',
 'Net Property,Plant & Equipment': 'balNppe',
 'Operating Cash Flow': 'cafCfoa',
 'Goodwill & Intangibles': 'balGint',
 'Total Current Assets': 'balTca',
 'Change in Working Capital': 'cafCiwc',
 'Total Debt': 'balTdeb',
 'Accounts Payable': 'balAccp',
 'Long Term Debt': 'balTltd',
 'Common Shares Outstanding': 'balTcso',
 'Deferred Tax Liabilities (Net)': 'balDit',
 'Total Equity': 'balTeq',
 'Total Receivables': 'balTrec',
 'Total Assets': 'balTota',
 'Total Current Liabilities': 'balTcl',
 'Minority Interest': 'balMint',
 'Share Capital': 'balComs',
 'Cash and Equivalent': 'balCsti',
 'Total Inventory': 'balTinv',
 'Total Deposits – Banks': 'balTdep',
 'Deferred Tax Assets (Net)': 'balDta',
 'Non Current Assets': 'balNca',
 'Free Cash Flow': 'cafFcf',
 'Non Current Liabilties': 'balNcl',
 'Book Value': 'bookValue',
 'Other Current Liabilities': 'balOcl',
 'Other Current Assets': 'balOca',
 'Other Liabilities': 'balOthl',
 'Other Assets': 'balOtha',
 'Expense Ratio': 'expenseRatio',
 'Tracking Error': 'trackErr',
 'EBITDA': 'incEbi',
 'Net Income': 'incNinc',
 'Payout Ratio': 'incPyr',
 'Earnings Per Share': 'incEps',
 'Taxes & Other Items': 'incToi',
 'Dividend Per Share': 'incDps',
 'PBIT': 'incPbi',
 'Interest & Other Items': 'incIoi',
 'Total Revenue': 'incTrev',
 'Depreciation & Amortization': 'incDep',
 'PBT': 'incPbt',
 'Power & Fuel Cost': 'incPfc',
 'Raw Materials': 'incRaw',
 'Operating & Other expenses': 'incOpe',
 'Employee Cost': 'incEpc',
 'Selling & Administrative Expenses': 'incSga',
 'Net Income (Q)': 'qIncNincK',
 'PBT (Q)': 'qIncPbtK',
 'Total revenue (Q)': 'qIncTrevK',
 'EPS (Q)': 'qIncEpsK',
 'EBITDA (Q)': 'qIncEbiK',
 'Operating and Other Expenses (Q)': 'qIncOpeK',
 'PBIT (Q)': 'qIncPbiK'}

In [23]:
filtered_list_df = ttp.get_equity_screener_data(filters=["mrktCapf", "lastPrice", "beta"], sortby='mrktCapf', number_of_records=20)
filtered_list_df.head()

,slug,advancedRatios.lastPrice,advancedRatios.beta,advancedRatios.mrktCapf,info.name,info.ticker,info.sector,sid
0,/stocks/reliance-industries-RELI,1527.3,0.814289,2.066815e+06,Reliance Industries Ltd,RELIANCE,Energy,RELI
1,/stocks/hdfc-bank-HDBK,1989.3,1.057674,1.525375e+06,HDFC Bank Ltd,HDFCBANK,Financials,HDBK
2,/stocks/tata-consultancy-services-TCS,3419.8,0.753030,1.237314e+06,Tata Consultancy Services Ltd,TCS,Information Technology,TCS
3,/stocks/bharti-airtel-BRTI,2017.2,0.690940,1.209511e+06,Bharti Airtel Ltd,BHARTIARTL,Communication Services,BRTI
4,/stocks/icici-bank-ICBK,1442.8,1.180557,1.029103e+06,ICICI Bank Ltd,ICICIBANK,Financials,ICBK

In [24]:
ttp.get_income_data('INFY', time_horizon='annual', view_type='growth', num_time_periods=12)

,incTrev,incCrev,incGpro,incOpc,incRaw,incPfc,incEpc,incSga,incOpe,incEbi,...,incIoi,incPbt,incToi,incNinc,incEps,incDps,incPyr,displayPeriod,reporting,endDate
0,65561.000000,NaN,NaN,NaN,0.0,217.000000,34406.000000,4450.000000,6289.000000,20199.000000,...,0.000000,18740.000000,5251.000000,13489.000000,29.508391,12.125000,0.410900,FY 2016,consolidated,NaN
1,9.110599,NaN,NaN,NaN,NaN,5.069124,9.454746,3.235955,17.649865,7.203327,...,NaN,6.462113,6.608265,6.405219,6.404426,6.185567,-0.205686,FY '16 - FY '17,NaN,NaN
2,3.213856,NaN,NaN,NaN,NaN,-9.210526,3.276773,0.000000,8.203811,2.212062,...,NaN,1.598917,-24.240800,11.677001,14.489829,68.932039,47.552005,FY '17 - FY '18,NaN,NaN
3,15.879078,NaN,NaN,NaN,NaN,6.763285,16.511969,21.049195,42.493130,4.152171,...,NaN,3.803651,32.916765,-3.899183,-1.294209,-1.149425,0.146682,FY '18 - FY '19,NaN,NaN
4,9.393738,NaN,NaN,NaN,NaN,3.619910,12.296149,-3.200863,5.408485,8.754121,...,NaN,4.591037,-3.973745,7.725266,9.055033,-18.604651,-25.363052,FY '19 - FY '20,NaN,NaN
5,9.700408,NaN,NaN,NaN,NaN,-37.554585,9.145754,-40.553595,13.920998,20.023933,...,14.705882,20.997864,34.435618,16.614439,17.862340,54.285714,30.903318,FY '20 - FY '21,NaN,NaN
6,20.709437,NaN,NaN,NaN,NaN,-7.692308,15.204984,34.875000,58.522520,12.283151,...,2.564103,13.076461,9.935413,14.257661,14.904093,14.814815,-0.077698,FY '21 - FY '22,NaN,NaN
7,20.600955,NaN,NaN,NaN,NaN,33.333333,22.462726,23.146432,27.956346,11.972415,...,42.000000,10.667552,15.337500,8.977838,10.400777,9.677419,-0.655211,FY '22 - FY '23,NaN,NaN
8,5.963149,NaN,NaN,NaN,NaN,13.068182,5.437793,7.638758,3.303703,8.736222,...,65.492958,8.000720,5.722337,8.873210,9.571232,35.294118,23.475949,FY '23 - FY '24,NaN,NaN
9,5.183071,NaN,NaN,NaN,NaN,11.557789,4.030501,5.873099,9.824072,4.132633,...,-11.489362,4.501501,11.686315,1.829756,1.741006,-6.521739,-8.121352,FY '24 - FY '25,NaN,NaN
10,-0.000600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000808,-0.004669,...,0.000000,-0.002659,-0.009179,0.000000,-0.044127,13.953488,14.003795,TTM,,

In [25]:
ttp.get_balance_sheet_data('INFY', num_time_periods=16, growth=True)

,balCsti,balTrec,balTinv,balOca,balTca,balNetl,balNppe,balGint,balLti,balOtha,...,balTeq,balTlse,balTcso,balTpso,balNca,balCa,balNcl,balDta,displayPeriod,reporting
0,32772.000000,11330.000000,0.0,7651.000000,51753.000000,None,10527.000000,3819.000000,1817.000000,6898.000000,...,61744.000000,75098.000000,457.124218,None,23345.000000,51753.000000,115.000000,284.000000,FY 2016,consolidated
1,-0.540095,8.755516,NaN,14.860803,3.771762,None,12.577182,-3.299293,255.145845,3.116845,...,11.722597,10.719327,0.001490,None,26.121225,3.771762,33.043478,17.253521,FY '16 - FY '17,NaN
2,-19.542875,6.654764,NaN,21.187984,-6.867145,None,0.877563,-39.750880,-10.801178,21.678617,...,-5.882694,-4.568961,-4.915127,None,-0.377000,-6.867145,109.150327,122.522523,FY '17 - FY '18,NaN
3,-0.114395,12.821488,NaN,11.323944,5.720055,None,12.948557,61.573034,-19.492703,1.166956,...,0.126302,5.944624,-0.245481,None,6.327560,5.720055,31.875000,-5.533063,FY '18 - FY '19,NaN
4,-11.036457,24.684697,NaN,7.835695,3.211165,None,42.797897,51.905424,-10.725076,-13.567839,...,1.289112,9.199914,-2.195624,None,19.353598,3.211165,1108.530806,10.857143,FY '19 - FY '20,NaN
5,16.100240,4.365230,NaN,12.499022,11.281516,None,4.522352,14.869072,186.753686,9.209831,...,16.611992,17.114379,0.103588,None,25.666237,11.281516,34.588235,-71.262887,FY '20 - FY '21,NaN
6,-10.759166,17.642791,NaN,41.430856,10.623549,None,-1.443882,1.275307,15.072073,16.406534,...,-1.362298,8.574006,-1.228066,None,5.913036,10.623549,7.663170,-74.887892,FY '21 - FY '22,NaN
7,-20.969145,12.009869,NaN,29.657851,5.501228,None,11.332629,16.464662,-7.926159,-33.478848,...,0.077902,6.739542,-1.350461,None,8.418779,5.501228,30.108254,9244.642857,FY '22 - FY '23,NaN
8,45.168221,18.757867,NaN,19.575355,26.172035,None,-7.307588,0.243276,-6.850187,29.765625,...,16.710865,10.244310,0.086131,None,-10.773527,26.172035,5.096204,NaN,FY '23 - FY '24,NaN
9,33.341757,3.196105,NaN,-8.034752,8.572994,None,4.600449,39.328570,-5.543218,-5.334136,...,8.751879,7.596826,0.088332,None,5.775330,8.572994,-13.488372,NaN,FY '24 - FY '25,NaN